.App {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--base-text);
}

/* wrapper around header and site content minus footer -- allows sticky footer at bottom */
.site-content {
  flex: 1;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
}

img {
  height: auto;
  width: 25%;
  max-width: 720px;
}


.btn,
input,
select,
textarea {
  border-radius: 7px;
  color: var(--neutral--dark);
}

.gym-page {
  top: 5rem;
}

.btn {
  align-items: center;
  border: 1px solid var(--neutral--gray);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0.5rem;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  border-color: var(--neutral--light);
  transform: translateY(-1px);
}

.btn:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.primary {
  background-color: #ffffff;
  color: var(--neutral--dark);
}

.primary:hover,
.primary:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: var(--neutral--light);
}

.primary:active {
  color: rgba(0, 0, 0, 0.65);
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
}

.secondary {
  background-color: var(--neutral--light);
  color: #f0f0f1;
}

.secondary:hover,
.secondary:active {
  background-color: var(--neutral--gray);
  color: #f0f0f1;
}

form,
.input-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin-top: 5rem;
}

form input,
select {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--neutral--gray);
  background-color: var(--active);
  min-width: 200px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.edit-form {
  background-color: var(--edit-profile-bg);
  margin: 3rem 1rem;
  padding: 1rem;
  margin-bottom: 0;
  color: white;
  border-radius: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 30px;
}

.edit-form input,
select,
textarea {
  width: 70%;
}

.edit-form textarea {
  height: 100px;
  background-color: var(--active);
}

.posts-form,
.comment-form {
  width: 50%;
}

.posts-form,
.comment-form {
  width: 80%;
}

.input-img {
  margin: 0;
  width: 100%;
  margin: 0.5rem;
}

.container h1 {
  text-align: center;
}

.newsfeed-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.post-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.post-container img {
  width: 390px;
  height: 200px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid var(--neutral--gray);
  background-color: var(--neutral--gray);
}

.post-details-container,
.comments-container {
  display: flex;
  justify-content: flex-start;
}

.post-details-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post-details-container {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.comments-container {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--primary--light);
  padding-top: 10px;
}

.comment-attribution {
  display: flex;
}

.commenter {
  color: var(--user-link);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  padding-right: 10px;
}

.commenter:hover {
  text-decoration: underline;
}

.post-details-container h3 {
  color: var(--base-text);
}

.container {
  width: 100%;
}

.submit {
  cursor: pointer;
}

.my-profile-container {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.profile-container {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-color: var(--neutral--dark);
  border-radius: 50px;
  margin: 70px 0 50px 0;
  overflow: hidden;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 90%;
}

.profile-header {
  position: relative;
  background-color: var(--neutral--light);
  color: var(--neutral--dark);
  border-radius: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
  margin-bottom: -10px;
  min-height: 125px;
  z-index: 999;
  width: 100%;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid var(--neutral--dark);
  background-color: var(--neutral--dark);
  border-radius: 100%;
  background-color: white;
  margin-top: 10px;
}

.search-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.avatar-result,
.avatar-friend {
  width: 50px;
  height: 50px;

}

.search-results {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.friends-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.friend-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem;
}

.friend-container p {
  margin-top: 0;
}

a {
  color: var(--user-link);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.profile-body {
  padding-top: 40px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.profile-text-container {
  width: 80%;
  display: flex;
}

.profile-text-title {
  min-width: 100px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary--light);
  padding-right: 20px;
}

.profile-text-content {
  text-align: left;
}

.my-posts-container {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  text-transform: uppercase;
}

.caption {
  margin-bottom: 0;
  text-align: left;
}

.post-author {
  font-size: 1rem;
  color: var(--user-link);
  padding-right: 0.5rem;
}

.post-author:hover {
  text-decoration: underline;
}

.comment-text {
  margin-top: 2px;
  font-size: 1rem;
  text-align: left;
}

.time {
  margin-top: 2px;
  color: var(--post-time);
  font-weight: 600;
  font-size: 0.9rem;
  text-align: right;
}

.dumbbell-icon {
  padding-left: .3rem;
  padding-right: .3rem;
  color: white;
}

.chain-icon {
  padding-left: .2rem;
  padding-right: .2rem;
  color: var(--active);
}

.search-results a {
  padding-top: .3rem;
}

h5 {
  color: var(--h5-text);
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .post-container img {
    width: 250px;
  }
}


@media (min-width: 768px) {

  .newsfeed-container {
    width: 100%;
  }

  .comment-form {
    width: 20%;
  }

  .posts-form {
    width: 50%;
  }

  .post-container {
    width: 20%;
  }

  .post-container img {
    object-fit: cover;
    width: 500px;
    height: 400px;
  }

  .post-details-container,
  .comments-container {
    min-width: 500px;
    max-width: 500px;
  }

  .post-details-container {
    justify-content: flex-start;
  }

  .comment-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
}

@media (min-width: 950px) {
  .my-profile-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .profile-container {
    width: 30%;
  }

  /* .profile-card {
    width: 35%;
  } */

  .my-posts-container {
    width: 50%;
  }

}




/* .///////////////Card Css */
.card {
  padding: 1rem;
  border-radius: 3rem;
  background-color: #1f2632;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem;
  max-width: 11rem;
}

.card-name {
  font-size: 1rem;
  max-width: 11rem;
  color: #7cf7c6;
}

.card-body {
  font-size: 1rem;
  color: #7cf7c6;
}

.card-equip {
  font-size: 1rem;
  color: #7cf7c6;
}

.card-target {
  font-size: 1rem;
  color: #7cf7c6;
}

.card-image {
  border-radius: 3rem;
  height: 11rem;
  width: 11rem;
  margin-bottom: 1rem;
}

.card-button {
  transition: ease-in-out .2s;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  width: 100%;
  background-color: #7cf7c6;
}

.card-button:hover {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 100%;
  background-color: #1f2632;
  color: #7cf7c6;
}
.search-button{
  margin-top: 0rem;
  font-size: 1.5rem;
  width: 100%;
  background-color: #7cf7c6;
  border-radius: 2rem;
  transition: ease-in-out .2s;
}

.search-button:hover{
  border-radius: 3rem;
  margin-top: 0rem;
  font-size: 1.5rem;
  width: 100%;
  background-color: #1f2632;
  color: #7cf7c6;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.search-section {
  display: flex;
}

.drop-downs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.page-btn {
  background-color: #7cf7c6;
  color: #1f2632;
}

.page-btn:hover {
  background-color: #1f2632;
  color: #7cf7c6;
}

.page-btn-active {
  background-color: #1f2632;
  color: #7cf7c6;
}

.page-btn-container{
  display: flex;
  gap: 0.5rem;
  transition: ease-in-out .2s;
}

/* signup/login error css */

.error-msg {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.error-icon {
  padding-right: 5px;
  color: var(--error-icon);
}


/* lists css */
ol, ul {
  padding-left: 0;
}

.body-list-items {
  padding: 1rem;
}

.avatar-list {
  margin-left: 5px;
}

.gymLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}