.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
}

img {
  height: auto;
  width: 25%;
  max-width: 720px;
}

.btn, input {
  border-radius: 7px;
}

.btn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid var(--neutral--gray);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--neutral--dark);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: .5rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: var(--neutral--light);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: var(--neutral--light);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

form,
.input-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form input {
  padding: .5rem;
  margin: .5rem;
  border: 1px solid var(--neutral--gray);
  background-color: var(--active);
  min-width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.posts-form,
.comment-form {
  width: 50%;
}

.posts-form,
.comment-form {
  width: 100%;
}

.input-img {
  margin: 0;
  width: 100%;
  margin: .5rem;
}

.newsfeed-container {
  width: 100%;
}

.post-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post-container img {
  min-width: 250px;
  max-width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid var(--neutral--gray);
  background-color: var(--neutral--gray);
}

.post-details-container,
.comments-container {
  min-width: 250px;
  max-width: 250px;
  display: flex;
}

.post-details-container {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.comments-container {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--primary--light);
  padding-top: 10px;
}

.comment-attribution {
  display: flex;
}

.commenter {
  color: var(--primary--dark);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  padding-right: 10px;
}

.commenter:hover {
  text-decoration: underline;
}

.post-details-container h3 {
  color: var(--neutral--gray);
}

.container {
  width: 100%;
}

.submit {
  cursor: pointer;
}

.my-profile-container {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.profile-card {
  width: 90%;
  background-color: var(--neutral--dark);
  border-radius: 50px;
  margin-top: 70px;
  overflow: hidden;
  padding-bottom: 30px;
}

.profile-header {
  position: relative;
  background-color: var(--neutral--light);
  color: var(--neutral--dark);
  border-radius: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: -30px;
  min-height: 125px;
  z-index: 999;
}

.profile-avatar {
  width: 150px;
  height: auto;
  border: 1px solid var(--neutral--dark);
  border-radius: 100%;
  background-color: white;
  margin-top: 10px;
}

.profile-body {
  padding-top: 40px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile-text-container {
  width: 80%;
  display: flex;
}

.profile-text-title {
  min-width: 100px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary--light);
  padding-right: 20px;
}

.profile-text-content {
  text-align: left;
}

.my-posts-container {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  text-transform: uppercase;
}

.caption {
  margin-bottom: 0;
}

.comment-text {
  margin-top: 2px;
  font-size: 1rem;
  text-align: left;
}

.time {
  margin-top: 2px;
  color: var(--neutral--light);
  font-weight: 600;
  font-size: .9rem;
}

@media(min-width: 950px) {
  .my-profile-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  

  .profile-card {
    width: 35%;
  }

  .my-posts-container {
    width: 50%;
  }
}

@media (min-width: 768px) {
 
  .comment-form {
    width: 20%;
  }

  .posts-form {
    width: 50%;
  }

  .post-container img {
    min-width: 500px;
    max-width: 500px;
    height: 400px;
  }
  
  .post-details-container,
.comments-container {
  min-width: 500px;
  max-width: 500px;
}

.post-details-container {
  justify-content: flex-start;
}

.comment-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  }
}