.header-container {
  width: 100%;
  background-color: var(--neutral--dark);
  min-height: 60px;
  position: relative;
  z-index: 10;
}

.header-head {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.logo-container {
  display: flex;
  padding-left: .5rem;
}

.logo {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.logo-img {
  width: 290px;
  height: auto;
  /* max-width: 300px; */
  height: auto;
  margin-top: .3rem;
}

/* .logo-sml {
  width: 100px;
  height: auto;
} */

.toggler-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: block;
  margin-right: .5rem;
}

.toggler {
  color: #fff;
}

.bars {
  font-size: 25px;
}

.x {
  font-size: 25px;
}

@media (max-width: 350px) {
  .logo-img {
    width: 200px;
  }
}

@media(min-width:768px) {

  .header-container {
    height: 80px;
  }

  .header-head {
    align-items: flex-start;
  }
  
  .logo-container {
    padding-left: 1rem;
  }

  .logo-img {
    width: 450px;
  }
  

  .toggler-btn {
    display: none;
  }
}