.css-18lszlg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%!important;
  min-width: 80%!important;
  padding: 0px!important;
}
.btn-ivan{
  position: relative;
  background-color: #1f2632!important;
}

.btn-ivan:hover {
  background-color: #576070!important;
}

.body-png {
  display: flex;
}

/* .rbh:first-child {
  background-color: red!important;
} */